html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

#map {
    width: 100%;
    height: 100%;
  }

  .navbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ccc; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
 
h1{
padding-left: 70px;
}

li{
  list-style-type: none;
}

ul{
  padding-left: 0px;
}


#info {
  margin: 70px auto;
  padding: 20px;
  background: goldenrod;
  border-radius: 10px;
  width: 10%;
  position: fixed;
  transition: all 0s ease-in-out;
}